@model IEnumerable<CleanBlog.DATA.EF.Blog>

@{
    ViewBag.Title = "Blogs Index";
}

<h2>Blogs</h2>


@if (Request.IsAuthenticated && User.IsInRole("Admin"))
{
    <p class="p-5">
        <span class="btn btn-light button-create"> @Html.ActionLink("Create New", "Create")</span>
    </p>
}

<table class="table">
    <tr>
        <th class="flex15">
            @Html.DisplayNameFor(model => model.BlogTitle)
        </th>
        <th class="flex15">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th class="flex50">
            @Html.DisplayNameFor(model => model.BlogContent)
        </th>
        <th class="flex20">
            @Html.DisplayNameFor(model => model.BlogImage)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="blogTable">
            <td class="flex15">
                @Html.DisplayFor(modelItem => item.BlogTitle)
            </td>
            <td class="flex15">
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td class="flex50">
                @Html.DisplayFor(modelItem => item.BlogContent)
            </td>
            <td class="flex20">
                <img src="~/Content/img/t_@item.BlogImage" alt="@item.BlogContent" title="@item.BlogTitle"/>
            </td>           

            @if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.BlogId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.BlogId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.BlogId })
                </td>
            }

        </tr>
    }

</table>
