@model IEnumerable<CleanBlog.DATA.EF.Blog>

@{
    ViewBag.Title = "Blogs Index";
}

<h2>Blogs</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BlogTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlogContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BlogImage)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BlogTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BlogContent)
        </td>
        <td>
            <img src="~/Content/img/t_@item.BlogImage" />
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.BlogImage)
        </td>*@

        @if (User.IsInRole("Admin"))
        {
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BlogId }) |
                @Html.ActionLink("Details", "Details", new { id = item.BlogId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BlogId })
            </td>
        }

    </tr>
    }

</table>
